.box_notification {

    background-color: var(--neon-color-rose);

    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-variant: small-caps;
    font-weight: 100;
    letter-spacing: -.05em;

    position: absolute;
    z-index: 11;
    right: 0%;
    top: 70%;

    border-radius: 5em 0% 0% 5em;

    width: fit-content;
    height: fit-content;

    padding-inline: .8em;
    padding-right: 20%;
    padding-left: 6%;

    margin-left: 10%;


    display: flex;
    flex-direction: row;

}

.notification_close_button {
    position: absolute;
    left: 0%;
    z-index: 12;

    background-image: url("../../assets/svg/CloseNotification.svg");
    background-size: cover;
    background-color: transparent;
    opacity: .5;

    overflow: visible;

    height: 100%;
    width: 10%;

    padding-right: 1%;
    cursor: pointer;
}

/* NEE TO FIX THIS LATER */
.notification_close_button:hover {
    background-color: whitesmoke;
    border-radius: 5em;

}

/* 500PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 1200px) {
    .box_notification {}

    .notification_close_button {
        height: 100%;
        width: 10%;
    }

}

/* 500PX WIDTH SCREEN ADAPTIVE MEDIA */

@media screen and (max-width: 600px) {
    .box_notification {

        padding-left: 16%;
        top: 10%;

    }

    .notification_close_button {
        height: 100%;
        width: 15%;
    }
}