svg {

    height: 100%;
    width: 100%;
    margin: 15%;
}
.box_lobby_card {
    background-color: hsl(0, 0%, 73%, .8);
    
    height: 20%;
    width: 97%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-block: .5em;
    margin-left: 2.5%;
}

.box_lobby_card:first-child {
    margin-top: 5%;
}

.lobby_card_name, .lobby_card_data {

    height: 100%;
    margin-inline: .5em;

}

.lobby_card_name {
    background-color: green;

    width: 33%;
}

.lobby_card_data {
    background-color: greenyellow;

    width: 58%;

    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.lobby_name {
    background-color: blue;

    height: 15%;
    width: 100%;

}

.temporary_join_btn { 
    background-color: lightgreen;
    height: 15%;
    width: 100%;

    cursor: pointer;

    transition: .2s;

}

.temporary_join_btn:hover {
    background-color: black;
    color: whitesmoke;

    transition: .2s;
}

.lobby_data {
    background-color: lightblue;

    overflow: hidden;

    height: 95%;
    width: 25%;

    margin-inline: 1%;
    padding: .5%;
}

.lobby_data:last-child {
    width: 15%;
}

.status {
    width: 10%;
}
/* 800PX WIDTH SCREEN ADAPTIVE MEDIA */




@media screen and (max-width: 800px) {
    svg {
        margin: 10%;
    }

    .box_lobby_card {
        flex-direction: column;
        height: 15%;
    }
    
    .box_lobby_card:first-child {
        margin-top: 2%;
    }
    
    .lobby_card_name, .lobby_card_data {
    
        width: 100%;
        margin-inline: .5em;
    
    }
    
    .lobby_card_name {
        height: 20%;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .lobby_card_data {
        height: 80%;
    }

    .lobby_name {
        height: 100%;
        width: 70%;
    
    }

    .lobby_data {
        width: 40%;
    }

    .status {
        width: 15%
    }

    .temporary_join_btn { 
        height: 100%;
        width: 30%;
    
        cursor: pointer;
    
    }
}

/* 500PX WIDTH SCREEN ADAPTIVE MEDIA */

@media screen and (max-width: 600px) {
    .box_lobby_card:last-child {
        margin-bottom: 15%;
    }
}

/* 360PX WIDTH SCREEN ADAPTIVE MEDIA */

@media screen and (max-width: 400px) {
    .box_lobby_card:last-child {
        margin-bottom: 25%;
    }
  }

  @media screen and (max-width: 250px) {
    .box_lobby_card:last-child {
        margin-bottom: 35%;
    }
  }