/* HERE WE'RE DOING THE BASIC AND COMMON CSS ANIMATIONS */

/* --- MOVEMENT */

/* ITEM FROM TOP TO BOTTOM */
#animItemFromTopToBottom {
    animation: fallFromTop .5s normal;
}

@keyframes fallFromTop {
    0% {
        transform: translateY(-101%) ;
    }
    100% {
        transform: translateY(0em);
    }
}
    

/* ITEM FROM BOTTOM TO TOP */
#animItemFromBottomToTop {
    animation: comeFromBottom .5s normal;
}

@keyframes comeFromBottom {
    0% {
        transform: translateY(101%) ;
    }
    100% {
        transform: translateY(0em);
    }
}

/* ITEM FROM RIGHT TO LEFT */
#animItemFromRightToLeft {
    animation: comeFromRight .5s normal;
}

@keyframes comeFromRight {
    0% {
        transform: translateX(101%) ;
    }
    100% {
        transform: translateX(0em);
    }
}

/* --- OPACITY */

/* TRANSITION FROM 0 OPACITY TO 1 */
#animReverseFade {
    animation: reverseFade .5s normal;
}
@keyframes reverseFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* FLICKER */



/* CONSTANT CHANGE OF OPACITY FROM 0 TO 1 */
#animConstantOpacityChange {
    animation: continousFadeInOut 2s infinite normal;
    /* animation-delay: 7s; */
}

@keyframes continousFadeInOut {
    0% {
        opacity: 1;
        background-color: var(--neon-color-rose-2);
    }
    50% {
        opacity: 0;
        background-color: var(--neon-color-blue);

    }
    100% {
        opacity: 1;
        background-color: var(--neon-color-rose);
    }
}

/* --- BACKGROUNDS */

#animSlowTranslation{
    animation: slowTranslation 1.5s infinite linear alternate;
}

@keyframes slowTranslation {
    0% {
        transform: translate(-10%);
    }
    100% {
        transform: translate(10%);
    }
}

#animAbsoluteBg{
    animation: bgMovement 20s infinite linear;
}

@keyframes bgMovement {
    0% {
        transform: rotate(0deg) scale(1.5);
    }
    50% {
        transform: rotate(180deg) scale(3);
    }
    100% {
        transform: rotate(360deg) scale(1.5);
    }
}
    



/* --- ROTATIONS */
#animLoader {
    animation: loaderRotation 20s reverse linear infinite;
}

@keyframes loaderRotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* --- SOME ANIMATIONS ON SMALL DEVICES WILL BE OFF TEMPORARY */
@media screen and (max-width: 800px) {

    #animAbsoluteBg{
        animatioN: none;
        transform: rotate(-15deg);
    }
}
