h2 {
    margin: 0%;

}

.home {
    background:
    radial-gradient(white 15%, transparent 16%) 0 0,
    radial-gradient(white 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(0, 0, 0, 0.3) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(0, 0, 0, 0.3) 15%, transparent 20%) 8px 9px;
    background-color:#d6d6d6;
    background-size:16px 16px;
    
    /* background-position: center;
    background-position-y: top; */
    /* background-repeat: no-repeat; */

    min-height: 100%;
    min-width: 100%;

    z-index: 3;
}

.background_sides {
    background: linear-gradient(90deg, hsl(157, 100%, 0%) 10%, transparent, transparent, transparent, hsl(157, 100%, 0%) 90%);

    position: absolute;
    z-index: 4;

    height: 100%;
    width: 100%;
}

.background_cover {
    height: 100%;
    width: 100%;

    background: linear-gradient(transparent 1%, hsl(157, 100%, 0%, .8) 95%);

    /* Property to erase whitespace between top and background */
    background-position-y: top;

    position: absolute;
    z-index: 4;
}

.box_home_container {
    width: 100%;
    height: 100%;

    padding-top: 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome_text {

    text-align: center;
    font-size: 3em;
    font-family: 'Press Start 2P', cursive;
    

    /* position: absolçute; */
    z-index: 6;


}

.welcome_subtext {


    z-index: 6;
    font-family: 'Press Start 2P', cursive;

}

.subtext_join {
    /* margin-top: 5%; */
    height: 4rem;
    text-align: center;
    
    margin-top: 2%;

    letter-spacing: .15em;

}


.temporaryBtn {
    background: linear-gradient(90deg, transparent, hsl(0, 0%, 96%, .8), transparent);


    font-family: 'Press Start 2P', cursive;

    height: 2.7rem;
    width: 15rem;

    margin-block: .5em;

    cursor: pointer;

    z-index: 7;

    transition: .2s;
}

.temporaryBtn:hover {
    background-color: #acacac;
    width: 100%;

    transition: .2s;
}

.btn_register {

    top: 50%;

    z-index: 7;

    margin-bottom: 25%;
}

/* 1500PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 1500px) {
    .background_sides {
        background: transparent;

    }
}

/* 800PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 800px) {

    .box_home_container {
        padding-top: 15%;
        justify-content: flex-start;

    }

    .welcome_text, .subtext_quote {
        margin-inline: 5%;

    }

    .btn_register {
        margin-bottom: 25%;
    
    }


    .temporaryBtn {
        height: 2rem;  
    }
}

/* 600PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 600px) {

    .welcome_text {
        text-align: left;
    }

    .home {
        background-position-x: 55%;
    }

}

/* 400PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 400px) {


}