  
h2 {
    margin: 0%;

}

.home {

    min-height: 100%;
    min-width: 100%;

    z-index: 3;
}

.box_home_container {
    width: 100%;
    height: 100%;

    padding-top: 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome_text {

    text-align: center;
    font-size: 5em;
    font-family: 'Source Code Pro', monospace;
    letter-spacing: -.1em;
    font-weight: 800;

    padding: 0%;
    padding-inline: 5%;
    margin: 0%;
    
    /* position: absolçute; */
    z-index: 6;

}

.welcome_subtext {


    z-index: 6;
    font-family: 'Press Start 2P', cursive;

}

.subtext_join {
    /* margin-top: 5%; */
    height: 4rem;
    text-align: center;
    
    margin-top: 2%;

    letter-spacing: .15em;

}


.button {
    background: linear-gradient(90deg, transparent, hsl(0, 0%, 96%, .8), transparent);


    font-family: 'Press Start 2P', cursive;

    height: 2.7rem;
    width: 15rem;

    margin-block: .5em;

    cursor: pointer;

    z-index: 7;

    transition: .2s;
}

.button:hover {
    background-color: #acacac;
    width: 100%;

    transition: .2s;
}

.register_btn {

    top: 50%;

    z-index: 7;

    margin-bottom: 25%;
}


/* 1500PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 1500px) {
    .background_sides {
        background: transparent;

    }
}

/* 800PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 800px) {

    .box_home_container {
        padding-top: 15%;
        justify-content: flex-start;

    }

    .welcome_text, .subtext_quote {
        margin-inline: 5%;

    }

    .register_btn {
        margin-bottom: 25%;
    
    }


    .button {
        height: 2rem;  
    }

    
}

/* 600PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 600px) {

    .welcome_text {
        text-align: left;
    }

    .home {
        background-position-x: 55%;
    }

}

/* 400PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 400px) {


}