
.box_game_title {
  padding: 0;
  margin: 0; 

  height: 100vh;
  max-width: 100vw;

  background: transparent;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_game_title ul {
  position: relative;
  display: flex;
  flex-direction: row;
}

.box_game_title li {
  list-style: none;
}

.box_game_title li:hover {
    background-color: transparent;
  }

.box_game_title label {
  position: relative;
}

.box_game_title input[type="checkbox"] {
  position: absolute;

  opacity: 0;
  cursor: pointer;

  z-index: 10;
  cursor: pointer;

  transform: scale(6);

}

.box_game_title input[type="checkbox"]:checked ~ div {
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
      inset 4px 4px 6px rgba(0, 0, 0, 0.2);
    color: yellow;
    text-shadow: 0 0 15px yellow, 0 0 25px yellow;
    animation: glow 1.5s linear infinite;
  }

.box_game_title div {
  background: #18191f;
  color: #18191f;

  position: relative;

  height: 9vh;
  width: 9vh;
  
  cursor: default;

  font-size: 5em;
  margin: -.18em;

  border-radius: 1rem;
  
  box-shadow: -1px -1px 4px hsla(0, 0%, 100%, 0.05),
    4px 4px 6px hsla(0, 0%, 0%, 0.2),
    inset -1px -1px 4px hsla(0, 0%, 100%, 0.05),
    inset 1px 1px 1px hsla(0, 0%, 0%, 0.1);
}