
.box_game_title {
  padding: 0;
  margin: 0; 

  height: 100vh;
  max-width: 100vw;

  background: transparent;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_game_title ul {
  position: relative;
  display: flex;
  flex-direction: row;
}

.box_game_title li {
  list-style: none;
  margin: 0%;
}

.box_game_title li:last-child {
    margin-bottom: 10%;
  }

.box_game_title li:hover {
    background-color: transparent;
  }

.box_game_title label {
  position: relative;
}

.box_game_title input[type="checkbox"] {
  position: absolute;

  opacity: 0;

  z-index: 10;
  cursor: pointer;

  transform: scale(6);

}

.box_game_title input[type="checkbox"]:checked ~ div {
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
      inset 4px 4px 6px rgba(0, 0, 0, 0.2);
    color: var(--neon-color-rose-2);
    text-shadow: 0 0 15px var(--neon-color-rose-2), 0 0 25px var(--neon-color-rose-2);
    animation: glow 1.5s linear infinite;
  }

.letter_container {
  background: var(--neon-color-dark-3);
  color: var(--neon-color-dark-0);

  position: relative;

  height: 9vh;
  width: 9vh;
  
  cursor: default;

  font-size: 5em;
  margin: -.18em;

  border-radius: .1rem;
  
  box-shadow: -1px -1px 4px hsla(0, 0%, 100%, 0.05),
    4px 4px 6px hsla(0, 0%, 0%, 0.2),
    inset -1px -1px 4px hsla(0, 0%, 100%, 0.05),
    inset 1px 1px 1px hsla(0, 0%, 0%, 0.1);
}

/* 1200PX WIDTH SCREEN ADAPTIVE MEDIA */

@media screen and (max-width: 1200px) {
    ul {
        width: 17.5%;
    }
}

/* 500PX WIDTH SCREEN ADAPTIVE MEDIA */

@media screen and (max-width: 700px) {
    .box_game_title {
        margin-top: -10%;
    }
  .box_game_title ul {
    background-color: transparent;
    
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 7em 7em 7em;

    
    justify-content: center;
    margin: 0%;
    margin-left: -10%;

    max-width: 100vw;
    }
  
  .box_game_title ul li {
      margin-inline: .8em;
      margin-block: 25%;
  }

  .box_game_title ul li:last-child {
      margin-bottom: .8em;
    }

    
    .letter_container {
      color: var(--neon-color-dark-0)
    }

    }


@media screen and (max-width: 600px) {
    .box_game_title {
        margin-top: -10%;
    }
  .box_game_title ul {
    background-color: transparent;
    
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 7em 7em 7em;

    max-width: 100vw;
    }
  
  .box_game_title ul li {
      margin-inline: .8em;
  }

  .box_game_title ul li:last-child {
      margin-bottom: .8em;
    }
}

/* 360PX WIDTH SCREEN ADAPTIVE MEDIA */

@media screen and (max-width: 500px) {
    .box_game_title {
        margin-top: -10%;
    }
  .box_game_title ul {
    background-color: transparent;
    
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 7em 7em 7em;

    max-width: 100vw;
    }
  
  .box_game_title ul li {
      margin-inline: 1.2em;
  }

  .box_game_title ul li:last-child {
      margin-bottom: 1.8em;
    }
}

