.container_card_img {
    background-color: blue;
    height: 100%;
    width: fit-content;

    overflow: hidden;

}

.img_meme {
    height: 33.5rem;
}

.container_card_data {

    background-color: green;
    height: 100%;
    width: fit-content;

}


/* 1200PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 1200px) {


}

/* 800PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 800px) {
}

/* 600PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 600px) {

}

/* 400PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 400px) {

}
