@import url("../src/assets/css/animations.css");

.App {
  text-align: center;

  height: 100vh;
  width: 100vw;

  overflow:hidden;

}

/* GLOBAL COMMON CLASSES */

/* POSITIONING */
/* centered children */
.centered_content {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.top_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding-top: 1%;
}
/* content placed on the top left */
.left_content {
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0%;
  box-sizing: border-box;
}

/* BOXES */
/* containers */
.box_basic_container {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  max-height: 100vh;
  width: 100%;

  overflow: hidden;
}

/* container inside */
.board {
    background-color: var(--neon-color-dark-0);

    border: solid black;
    border-block: 1em;

    width: var(--board-width-Max);
    height: 100vh;

    overflow-x: scroll;
    scrollbar-color: transparent transparent;
    scrollbar-base-color: transparent;
}

/* BUTTONS */

.animation_btn {
  background: linear-gradient(90deg, transparent 25%, hsl(0, 0%, 96%, .9));

  opacity: .7;

  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 100;
  letter-spacing: .2em;

  height: 3rem;
  width: 25rem;

  cursor: pointer;

  transition: .2s;

  position: absolute;
  right: 0;
  bottom: 2%;

  
  align-items: flex-end;
  padding-right: 5%;

}

.animation_btn:hover {
  background-color: hsl(0, 0%, 96%, .2);
  width: 100%;

}

/* BACKGROUNDS */
.box_bg {
  /* background-color: hsl(199, 50%, 18%); */
  background-image:  linear-gradient(330deg, var(--neon-color-dark) 12%, transparent 12.5%, transparent 87%, var(--neon-color-dark) 87.5%, var(--neon-color-dark)), 
                     linear-gradient(50deg, var(--neon-color-dark) 12%, transparent 12.5%, transparent 87%, var(--neon-color-dark) 87.5%, var(--neon-color-dark)), 
                     linear-gradient(266deg, var(--neon-color-dark) 12%, transparent 12.5%, transparent 87%, var(--neon-color-rose) 87.5%, var(--neon-color-dark)), 
                     linear-gradient(10deg, var(--neon-color-dark) 12%, transparent 12.5%, transparent 87%, var(--neon-color-rose)  87.5%, var(--neon-color-dark)), 
                     linear-gradient(30deg, var(--neon-color-dark-2) 25%, transparent 25.5%, transparent 75%, var(--neon-color-dark) 75%, var(--neon-color-dark)), 
                     linear-gradient(60deg, var(--neon-color-rose-2) 25%, transparent 25.5%, transparent 75%, var(--neon-color-dark) 75%, var(--neon-color-yellow));
  background-size: 590px 520px;
  /* background-position: 20 0, 0 0, 20px 32px, 20px 36px, 0 1, 20px 20px; */
  background-position: 33%;
}

/* TEXT */
.italic_text {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 100;
  letter-spacing: .2em;
}


/* 1200PX WIDTH SCREEN ADAPTIVE MEDIA */

@media screen and (max-width: 1200px) {
    .board {
        margin-left: 15%;
        width: var(--board-width-1200px-br);
    }
}

/* 500PX WIDTH SCREEN ADAPTIVE MEDIA */


@media screen and (max-width: 800px) {
  .animation_btn {
    display: none;
  
  }
}


@media screen and (max-width: 600px) {

  .App {
    height: 100vh;
    width: 100vw;

    overflow: hidden;
  }

  .board {
      margin-left: 0%;
      left: 0%;
      width: var(--board-width-600px-br);
  }
}


@media screen and (max-width: 400px) {
  
  .App {
    max-height: 100vh;
    width: 100vw;
  }
}






