@import url("../src/assets/css/animations.css");

.App {
  text-align: center;

  height: 100vh;
  width: 100vw;
}

/* GLOBAL COMMON CLASSES */

/* POSITIONING */
/* centered children */
.centered_content {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
/* content placed on the top left */
.left_content {
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0%;
  box-sizing: border-box;
}

/* BOXES */
/* containers */
.box_basic_container {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

}

/* container inside */
.board {
    background:
    radial-gradient(hsl(0, 0%, 100%) 15%, transparent 16%) 0 0,
    radial-gradient(hsl(0, 0%, 100%) 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(0, 0, 0, 0.3) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(0, 0, 0, 0.3) 15%, transparent 20%) 8px 9px;
    background-color:hsl(0, 0%, 74%);
    background-size:16px 16px;

    border: solid black;
    border-block: 1em;

    width: var(--board-width-Max);
    height: 100vh;

    overflow-x: scroll;
    scrollbar-color: transparent transparent;
    scrollbar-base-color: transparent;
}

/* BACKGROUNDS */
.box_bg {
  background-color: hsl(0, 0%, 0%, .8);
  background-image:  linear-gradient(330deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), 
                     linear-gradient(50deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), 
                     linear-gradient(266deg, #444cf7 12%, transparent 12.5%, transparent 87%, #f744ee 87.5%, #444cf7), 
                     linear-gradient(10deg, #444cf7 12%, transparent 12.5%, transparent 87%, #f744ee 87.5%, #444cf7), 
                     linear-gradient(30deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777), 
                     linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777);
  background-size: 290px 320px;
  /* background-position: 20 0, 0 0, 20px 32px, 20px 36px, 0 1, 20px 20px; */
  background-position: 33%;
}



/* 1200PX WIDTH SCREEN ADAPTIVE MEDIA */

@media screen and (max-width: 1200px) {
    .board {
        margin-left: 15%;
        width: var(--board-width-1200px-br);
    }
}

/* 500PX WIDTH SCREEN ADAPTIVE MEDIA */

@media screen and (max-width: 600px) {
  .board {
      margin-left: 0%;
      left: 0%;
      width: var(--board-width-600px-br);
  }
}




