@import url("../src/assets/css/animations.css");

.App {
  text-align: center;

  height: 100vh;
  width: 100vw;

  overflow: hidden;
}

/* GLOBAL COMMON CLASSES */

/* POSITIONING */
/* centered children */
.centered_content {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
/* content placed on the top left */
.left_content {
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0%;
  box-sizing: border-box;
}

/* BOXES */
/* containers */
.box_basic_container {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

}

/* container inside */
.board {
    background:
    radial-gradient(hsl(0, 0%, 100%) 15%, transparent 16%) 0 0,
    radial-gradient(hsl(0, 0%, 100%) 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(0, 0, 0, 0.3) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(0, 0, 0, 0.3) 15%, transparent 20%) 8px 9px;
    background-color:hsl(0, 0%, 74%);
    background-size:16px 16px;

    border: solid black;
    border-block: 1em;

    width: var(--board-width-Max);
    height: 100vh;

    overflow-x: scroll;
    scrollbar-color: transparent transparent;
    scrollbar-base-color: transparent;
}

/* BUTTONS */

.animation_btn {
  background: linear-gradient(90deg, transparent, hsl(0, 0%, 96%, .8), transparent);

  font-family: 'Press Start 2P', cursive;

  height: 2rem;
  width: 25rem;

  cursor: pointer;

  transition: .2s;

  position: absolute;
  right: 0;
  bottom: 2%;

  
  align-items: flex-end;
  padding-right: 5%;

}

.animation_btn:hover {
  background-color: #acacac;
  width: 100%;

}

/* BACKGROUNDS */
.box_bg {
  /* background-color: hsl(199, 50%, 18%); */
  background-image:  linear-gradient(330deg, hsl(248, 28%, 23%) 12%, transparent 12.5%, transparent 87%, hsl(248, 28%, 23%) 87.5%, hsl(248, 28%, 23%)), 
                     linear-gradient(50deg, hsl(248, 28%, 23%) 12%, transparent 12.5%, transparent 87%, hsl(248, 28%, 23%) 87.5%, hsl(248, 28%, 23%)), 
                     linear-gradient(266deg, hsl(248, 28%, 23%) 12%, transparent 12.5%, transparent 87%, #cc1c4f 87.5%, hsl(248, 28%, 23%)), 
                     linear-gradient(10deg, hsl(248, 28%, 23%) 12%, transparent 12.5%, transparent 87%, #cc1c4f  87.5%, hsl(248, 28%, 23%)), 
                     linear-gradient(30deg, #5f2b6777 25%, transparent 25.5%, transparent 75%, hsl(248, 28%, 23%) 75%, hsl(248, 28%, 23%)), 
                     linear-gradient(60deg, #cb126b77 25%, transparent 25.5%, transparent 75%, hsl(248, 28%, 23%) 75%, #f0ca8e77 );
  background-size: 590px 520px;
  /* background-position: 20 0, 0 0, 20px 32px, 20px 36px, 0 1, 20px 20px; */
  background-position: 33%;
}



/* 1200PX WIDTH SCREEN ADAPTIVE MEDIA */

@media screen and (max-width: 1200px) {
    .board {
        margin-left: 15%;
        width: var(--board-width-1200px-br);
    }
}

/* 500PX WIDTH SCREEN ADAPTIVE MEDIA */


@media screen and (max-width: 800px) {
  .animation_btn {
    display: none;
  
  }
}


@media screen and (max-width: 600px) {
  .board {
      margin-left: 0%;
      left: 0%;
      width: var(--board-width-600px-br);
  }
}




