/* Home big game font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Loader font & small details */
@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');

/* VT32 FONT */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* SOURCE CODE FONT */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* NEON TEXT EFFECT  */
@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

/* POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');


:root {

  --transition-1: .2s;
  --transition-2: .5s;
  --transition-3: .8s;

  --border-rad-1: .2em;
  --border-rad-2: .4em;
  --border-rad-3: .6em;

  --board-width-Max: 60vw;
  --board-width-1200px-br: 80vw;
  --board-width-600px-br: 100vw;
  
  --card-height-Max: 38vw;
  --card-height-1200px-br: 45vw;
  --card-height-600px-br: 100vw;

  --neon-text-color: hsl(16, 99%, 55%);
  --neon-border-color: hsl(208, 100%, 53%);
}


body {

  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

  overflow: hidden;

}