button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    transition: .3s;

}


.player {
    background: linear-gradient(to top, hsl(0, 0%, 0%, .2), hsl(0, 0%, 100%, .3));

    background-color: var(--neon-color-white);

    width: 90%;
    height: 8%;

    margin-block: 1%;

    overflow: hidden;

    border-radius: 1rem 0rem;

    display: flex;
    justify-content: space-between;

}

.player_data{
    background: linear-gradient(to top, hsl(0, 0%, 0%, .2), hsl(0, 0%, 100%, .3));

    height: 100%;
    width: 100%;

    /* temporary */
    /* margin-right: 30%; */


}

.player_name{
    padding: 0%;

    /* background-color: red; */
    width: 100%;
    max-height: 50%;

    word-wrap: break-word;
    text-align:center;
}

.player_leave_btn {
    background: linear-gradient(to top, hsl(0, 0%, 0%, .2), hsl(0, 0%, 100%, .3));
    background-color: var(--neon-color-red);
    width: 15%;
    height: 100%;

    cursor: pointer;

    transition: .3s;
}

.player_leave_btn:hover {
    background: linear-gradient(to top, hsl(0, 0%, 0%, .1), hsl(0, 0%, 100%, .1));
    background-color: var(--neon-color-white);
    color: var(--neon-color-dark-0);

    transition: .3s;
}

.player_join_btn {
    background: linear-gradient(to top, hsl(0, 0%, 0%, .2), hsl(0, 0%, 100%, .2));
    background-color: var(--neon-color-red);

    margin-top: 5%;

    width: 100%;
    height: 5%;

    cursor: pointer;
    transition: .1s;
}

.player_join_btn:hover {
    background: linear-gradient(to top, hsl(0, 0%, 0%, .05), hsl(0, 0%, 100%, .05));
    background-color: var(--neon-color-red);

    transition: .1s;
}

.container_lobby_name {
    background: linear-gradient(to top, hsl(0, 0%, 0%, .2), hsl(0, 0%, 100%, .3));
    background-color: var(--neon-color-white);

    height: 5%;
    width: 100%;


    color: black;
    margin-block: .3rem;
    padding: 0%;
}

.container_lobby_name h1 {
    color: black;
    height: 100%;
    width: fit-content;
}

.container_admin_owner_options {
    background-color: var(--neon-color-dark);

    height: 13%;
    width: 100%;

    color: whitesmoke;

    margin-bottom: 1%;
    padding: 0%;

    display: flex;
    justify-content: space-between;
}

.owner_btn {
    background: linear-gradient(to top, hsl(0, 0%, 0%, .2), hsl(0, 0%, 100%, .3));

    height: 100%;
    width: 10%;

    opacity: .6;
    color: whitesmoke;

    cursor: pointer;
    transition:.1s

} 

.owner_btn:hover {
    background: linear-gradient(to top, hsl(0, 0%, 0%, .15), hsl(0, 0%, 100%, 0.15));
    background-color: var(--neon-color-white);
    color: var(--neon-color-dark);

    opacity: 1;
    transition:.1s
}

.play_btn {

    width: 80%;
    background-color: var(--neon-color-dark-2);

}


.delete_btn {
    
    width: 20%;
    background-color: var(--neon-color-red);
    word-wrap: break-word;
    padding-inline: .6rem;

}

/* 1200PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 1200px) {


}

/* 800PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 800px) {

    .player_leave_btn {
        width: 30%;
    }

    .lobby_name {
        font-size: 1em;
        padding: 0%;
    }

    .container_admin_owner_options {
        height: 8%;
        margin-bottom: 16%;
    }

    .play_btn {

        width: 78%;
    
    }
    
    
    .delete_btn {
        
        width: 22%;
    
    }

}

/* 600PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 600px) {

    

}

/* 400PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 400px) {

}